@font-face {
  font-family: "MountainsofChristmas";
  src: url('./fonts/MountainsofChristmas-Bold.ttf'),
  url('./fonts/MountainsofChristmas-Regular.ttf')
}
@font-face {
  font-family: "FrederickatheGreat";
  src: url('./fonts/FrederickatheGreat.ttf')
}
@font-face {
  font-family: "谦度手写楷体";
  src: url('./fonts/谦度手写楷体.ttf')
}
@font-face {
  font-family: "濑户字体简体";
  src: url('./fonts/濑户字体简体.ttf')
}
